* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.container {
    max-width: 100%;
}

body {
    background: #0c1821;
    color: #e1e5f2;
}

a {
    text-decoration: none;
    color: lightpink
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: darkcyan;
}

a:visited {
    color: darksalmon;
}

ins,
del {
    text-decoration: none;
}

s {
    display: none;
}

#main {
    visibility: hidden;

}

#thanks {
    color: lightpink;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24
}

body::-webkit-scrollbar-thumb {
    background: hotpink;
}