* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.container {
    max-width: 100%;
}

body {
    background: #0c1821;
    color: #e1e5f2;
}

#skip {
    font-family: system-ui;
    font-size: 1rem;
    will-change: transform;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    animation: bounce 1s ease alternate infinite;
    padding: 1rem;
    margin: 1rem;
    opacity: 80%;
}

#skip:hover {
    scale: 1.25;
    opacity: 100%;
}

@keyframes bounce {
    to {
        transform: translateY(0.5rem);
    }
}

#skipped {
    display: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: lightpink
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: darkcyan;
}

a:visited {
    color: darksalmon;
}

ins,
del {
    text-decoration: none;
}

s {
    display: none;
}

#main {
    visibility: hidden;
    z-index: 1;

}

#thanks {
    color: lightpink;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24
}

body::-webkit-scrollbar-thumb {
    background: hotpink;
}